<!DOCTYPE html>
<html lang="pt-br">
<head>
    <include src="meta.html"></include>
</head>

<body>
    <header>
        <div class="container">
            <include src="heading.html" heading="h1" main_title="Get Header"></include>
            <include src="heading.html" heading="h2" main_title="Another header"></include>
        </div>
    </header>

    <section>
        <div class="container">
            <include src="heading.html" heading="h3" main_title="Container"></include>
        </div>
    </section>
</body>
</html>
